*{
  margin:0px;
  padding: 0px;
 }

 

 div#izquierda{
  
  width: 20%;
  height: 900px;
  float: left;
  
  background: #042140;
  -webkit-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
-moz-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
 }
 div#derecha{
  
  width: 80%;
  height: 900px;
    float: left;
 }

 img{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  height: 70px
 }

 p{
  padding-top: 30px;
  padding-left: 40px;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 2px 3px #002072;
  

 }
 li{
  padding-top: 20px;
  padding-left: 40px;
    list-style:none;
  padding-bottom: 10px;
 
 }

 a{
text-decoration:none;
 font-size:12px;
  color: #E8F4FE;
  font-family: 'Ubuntu', sans-serif;

 }
 a:hover{
  text-shadow: 0 2px 3px #002072;
  color:#FFFFFF;
  font-weight: bold;
 }
 hr {
  margin-top: 10px;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}