l*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
   box-sizing: border-box;
 }
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
div#izquierda{
position: relative;
  
  width: 100%;
  height: 900px;
  float: left;
  -webkit-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
-moz-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
 }

div#derecha{
  position: absolute;
  
  width: 25%;
  height: 900px;
    float: left;
 }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  div#izquierda{

  
  width: 100%;
  height: 900px;
  float: left;
  -webkit-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
-moz-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
 }

div#derecha{
  
  width: 25%;
  height: 900px;
    float: left;
 }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  div#izquierda{

  
  width: 100%;
  height: 900px;
  float: left;
  -webkit-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
-moz-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
 }

div#derecha{
  
  width: 25%;
  height: 900px;
    float: left;
 }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}



a{
  text-decoration:none;
  color:#263A47;
  font-size: 13px;
  font-family: sans-serif;
}

  div#izquierda{

  
  width: 75%;
  height: 900px;
  float: left;
  -webkit-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
-moz-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
 }
 div#derecha{
  
  width: 25%;
  height: 900px;
    float: left;
 }

 .responsive {
  max-width:100%;height:auto;
 
}

form#formulario {
  padding-top: 220px;

    display: inline-block;

    text-align: center;

}
.checkbox{
  color:#263A47;
  font-size: 13px;
  font-family: sans-serif;
}


input{
  padding: 10px;
  margin:10px;
  border: 0 solid #b7b7b7;
  border-bottom-width: 1px;
/*  font-size:3vw*/
  
}

input:focus{
  color: #263A47;
  border: 0 solid #41A530;
  border-bottom-width: 1px;
  
  

}



button{
  padding: 10px;
  margin:10px;
  color: #fff !important;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #41A530;
  border: 2px solid;
  border-color: #41A530;
  position: relative;
   border-radius: .35rem;
}
}

//Efectos
.boton4 {
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #41A530;
  border: 2px solid;
  border-color: #41A530;
  position: relative;
}
.boton4:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
}

//Estilos Alumno
 div#izquierdaA{
  
  width: 10%;
  height: 900px;
  float: left;
  -webkit-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
-moz-box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
box-shadow: 3px 0px 6px -2px rgba(0,0,0,0.67);
background: #1D3643;
 }
 div#derechaA{
  
  width: 90%;
  height: 900px;
    float: left;
 }